{% load  cms_tags menu_tags sekizai_tags i18n thumbnail %}
<section id="clients" class="bamboo-clients-section">
    <h3>{% trans "We cooperate with" %}</h3>

    <div class="container">
        <div class="row">
            <ul>
                <li class="wow fadeInLeft img-responsive" data-wow-delay="0.2s" data-wow-offset="20"><a href="http://www.pruszynski.com.pl/"><img alt="Pruszyński"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_pruszunski.gif"></a>
                </li>
                <li class="wow fadeInLeft img-responsive" data-wow-delay="0.4s" data-wow-offset="20"><a href="http://www.plannja.com.pl/"><img alt="Plannja"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_Plannja_logo_rgb.jpg"></a>
                </li>
                <li class="wow fadeInLeft img-responsive" data-wow-delay="0.6s" data-wow-offset="20"><a href="http://www.raiko.com/"><img alt="Raiko"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_raiko.jpg"></a>
                </li>
                <li class="wow fadeInLeft img-responsive" data-wow-delay="0.8s" data-wow-offset="20"><a href="http://www.roben.pl/"><img alt="Roben"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_pobrane.jpg"></a>
                </li>
                <li class="wow fadeInLeft img-responsive" data-wow-delay="1.0s" data-wow-offset="20"><a href="http://www.fakro.pl/"><img alt="Fakro"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_fakro.jpg"></a>
                </li>
                <li class="wow fadeInLeft" data-wow-delay="1.2s" data-wow-offset="20"><a href="http://www.velux.pl/"><img alt="Velux"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_velux.jpg"></a>
                </li>
            <li class="wow fadeInLeft" data-wow-delay="1.2s" data-wow-offset="20"><a href="#"><img alt="budmat"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_budmat.gif"></a>
                </li>
            <li class="wow fadeInLeft" data-wow-delay="1.2s" data-wow-offset="20"><a href="#"><img alt="lindab"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_images.jpg"></a>
                </li>
                <li class="wow fadeInLeft" data-wow-delay="1.2s" data-wow-offset="20"><a href="#"><img alt="Balexmetal"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_n_balexmetalLogo_1.gif"></a>
                </li>
                <li class="wow fadeInLeft" data-wow-delay="1.2s" data-wow-offset="20"><a href="#"><img alt="Siba"
                                                                                                       src="{{ STATIC_URL }}assets/img/clients/tb_siba.gif"></a>
                </li>
            </ul>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
