{% load  cms_tags menu_tags sekizai_tags i18n thumbnail %}
<footer id="footer" class="bamboo-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h4>{% trans "Dar-bud" %}</h4>
                <p>Nasza firma powstała w marcu 2004 roku. Jest to przedsiębiorstwo prywatne, którego właścicielami i założycielami są Anna i Rafał Bertrand. </p>

                <p>Oboje już przed założeniem własnej działalności pracowali w firmach sprzedających pokrycia dachowe, gdzie przez lata nabrali doświadczenia i odpowiedniej wiedzy technicznej.</p>
            </div>
            <!-- /.col-md-3  -->
            <div class="col-md-4 col-sm-4 col-md-offset-4">
                <h4>{% trans "Contact details" %}</h4>
                <address>
                    ul. Gdańska 16
                    <br>
                    84-240 Reda
                    <br>
                    (+48) 501 179 492
                    <br>
                    (0 58) 678 41 98
                    <br>
                    Email:
                    <a class="" href="mailto:annabertrand@wp.pl">annabertrand@wp.pl</a>
                </address>
            </div>
            <!-- /.col-md-3  -->
            <!-- /.col-md-3  -->
            <div class="col-md-12 col-sm-12">
                <hr>
                <p class="text-center">©2014 Mateusz Dargacz. All Rights Reserved</p>
            </div>
            <!-- /.col-md-12  -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
