{% load  cms_tags menu_tags sekizai_tags i18n thumbnail %}
<section id="intro" class="bamboo-intro-section">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{% trans "Welcome to Dar-bud home page" %}</h1>
                    <p class="subtitle">{% trans "Build with Bertrand's!" %}</p>

                    <div class="cta-buttons">
                        <a href="#about" class="page-scroll btn btn-skewed btn-lg btn-primary">
                            <div>{% trans "About us" %}</div>
                        </a>
                    </div>
                    <!-- /.cta-buttons -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-body -->
    <a href="#about" class="page-scroll continue-icon hover"><i class="outline-icon icon-arrow-down"></i></a>
</section>
