{% load  cms_tags menu_tags sekizai_tags i18n thumbnail %}
<section id="features" class="bamboo-feature-section">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="10">
            <h2>{% trans "We Offer" %}<br><small>{% trans "miejsce na slogan" %}.</small></h2>
          </div>

          <div class="feature-block col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="10">
            <i class="outline-icon icon-sunny"></i>
            <h3>{% trans "Roofs" %}</h3>
            <p>{% trans "Roof flashings" %}</p>
            <p>{% trans "Roofing felt" %}</p>
          </div> <!-- /.col-md-4 -->

          <div class="feature-block col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="10">
            <i class="outline-icon icon-umbrella"></i>
            <h3>{% trans "Gutter system" %}</h3>
            <p>{% trans "Metal and PVC gutters" %}</p>
          </div> <!-- /.col-md-4 -->

          <div class="feature-block col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="10">
             <i class="outline-icon icon-stormy"></i>
             <h3>{% trans "Roof windows" %}</h3>
              <p>{% trans "We offer you products of the highest quality with the longest guarantee period" %}</p>

          </div> <!-- /.col-md-4 -->

          <!-- Add seperator in the middle to divide rows -->
          <div class="col-md-12 hidden-sm hidden-xs">
            <hr>
          </div> <!-- /.col-md-12 -->


            <div class="feature-block col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="10">
                <i class="outline-icon icon-hammer"></i>
                <h3>{% trans "roof soffit" %}</h3>
                <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci dolorem ea molestiae, molestias quis repellat ullam! " %}</p>

            </div> <!-- /.col-md-4 -->

            <div class="feature-block col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="10">
                <i class="outline-icon icon-hourglass"></i>
                <h3>{% trans "Bitumen shingle" %}</h3>
                <p>{% trans " Lot's of standard houses are fitted with bitumen shingles because of the excellent storm-proofing quality of the material. " %}</p>

            </div> <!-- /.col-md-4 -->
            <div class="feature-block col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s" data-wow-offset="10">
                <i class="outline-icon icon-cloudy"></i>
                <h3>{% trans "Accessories" %}</h3>
                <p>{% trans "We offer all necessary accessories as screws, ridges, all fold types and sheet-metal work, caulking tapes, touch-up paints and flat tiles for non-typical sheet-metal work" %}</p>
            </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section>
